In [2]:
import numpy as np
import pandas as pd

In [3]:
PATH = '../data/flagged_sentences_dataset.json'
df = pd.read_json(PATH)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3000 non-null   int64
 1   is_flagged  3000 non-null   int64
 2   sentence    3000 non-null   object
dtypes: int64(2), object(1)
memory usage: 70.4+ KB

In [5]:
df.head()

   id  is_flagged                                           sentence
0   1           1  We reserve the right to terminate your account...
1   2           1  Your data will be shared with third parties fo...
2   3           0  You can cancel your subscription at any time w...
3   4           1  The company is not responsible for any damages...
4   5           0  We value your privacy and will never sell your...

In [7]:
df['sentence'].nunique()

1874

In [12]:
df = df.drop_duplicates(subset=['sentence'])

In [17]:
df.to_json('../data/filtered.json', orient='records', lines=True)